.button__container {
    display: flex;
    width: 60%;
}

.button__container button {
    all: unset;
    background-color: var(--bg-header-color);
    font-weight: 400;
    width: 100%;
    line-height: 2.4rem;
    box-shadow: var(--shadow);
    padding: 1.2rem 2.4rem;
    text-align: start;
    border-radius: .2rem;
    color: var(--text-color);

    transition: all .2s ease-in-out;
}

.button__container button:is(:hover) {
    cursor: pointer;
    background-color: var(--yellow-color);
}