header {
    background-color: var(--bg-header-color);
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow: var(--shadow);

    transition: all .2s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    width: min(90%, 100%);
    margin: 0 auto;
    padding: 12.8rem 0 4.8rem;
}

footer {
    background-color: var(--bg-header-color);
    width: 100%;

    transition: all .2s ease-in-out;
}